#!/bin/zsh

alias ls='ls --color'

alias vim='nvim'
alias t="~/scripts/tm-manager.sh"

cd_and_source_venv() {
    cd $1
    local INVENV=$(python3 -c 'import sys; print ("1" if hasattr(sys, "real_prefix") or (sys.base_prefix != sys.prefix) else "0")')
    if [[ $INVENV == 1 ]]; then
        echo "Detected active venv, deactivating"
        deactivate
    fi
    echo "Activating venv"
    source venv/bin/activate
}

oil_ssh() {
    if [ -z ${1} ]; then
        echo "Missing argument (usage: ossh user@hostname[/path])"
        return
    fi
    nvim oil-ssh://${1}${2:-/}
}

alias l2='cd_and_source_venv ~/git/l2-sp'
alias lv='cd_and_source_venv ~/git/lvo_src2'
alias xb='cd_and_source_venv ~/git/x-band'

alias i3conf='nvim ~/.config/i3/config'

alias matlab='matlab & disown'
alias ossh='oil_ssh'
