#!/bin/zsh

alias ls='ls --color'

alias vim='nvim'

cd_and_source_venv() {
    cd $1
    local INVENV=$(python3 -c 'import sys; print ("1" if hasattr(sys, "real_prefix") or (sys.base_prefix != sys.prefix) else "0")')
    if [[ $INVENV == 1 ]]; then
        echo "Detected active venv, deactivating"
        deactivate
    fi
    echo "Activating venv"
    source venv/bin/activate
}

alias tt='base_dir=$(fdfind -t d -H | fzf) && tmux new-session -c $base_dir -As $(basename $base_dir)'

alias l2='cd_and_source_venv ~/git/l2-sp'
alias lv='cd_and_source_venv ~/git/lvo_src2'
alias xb='cd_and_source_venv ~/git/x-band'

alias i3conf='nvim ~/.config/i3/config'

alias matlab='matlab & disown'
